@import '../../../assets/styles/abstracts/variables';

.repliedDM {
  margin-bottom: 0.4rem;

  &--received {
    margin-left: 3rem;
  }
  &--sent {
    .repliedDM__title {
      text-align: right;
    }
  }

  &__body {
    @include montserrat-12-normal;
    width: fit-content;
    min-width: 6rem;
    max-width: 60vw;
    padding: 1rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
    color: #0d1444;
    border-radius: 10px;
    text-align: right;

    p {
      margin: 0;
    }

    &__attachments {
      height: 10rem;
      text-align: right;
      opacity: 0.7;
      border-radius: 10px;
      overflow: hidden;

      img {
        height: 100%;
        border-radius: 10px;
      }
    }
  }

  &__title {
    @include montserrat-10-normal;
    margin: 0 0 0.4rem 0;
  }
}
