@import '../../../assets/styles/abstracts/variables';

.nav {
  position: absolute;
  bottom: 7rem;
  width: 100%;
  padding: 2rem;
  background: #fff;
  // height: 0;
  // opacity: 0;
  // transition: all 0.5s ease-out;
  // z-index: -1;

  &.active {
    z-index: 9;
    height: auto;
    opacity: 1;
  }

  .user {
    &__menu {
      display: flex;
      justify-content: space-around;

      &__button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border: 1px solid #7171ef;
        padding: 1rem;
        border-radius: 20px;
      }
    }
  }
}
