@import '../../../assets/styles/abstracts/variables';

.liveActions {
  position: relative;
  width: 5.6rem;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 7.1rem 1.6rem 1.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  z-index: 7;

  &__avatar {
    border: 2px solid #2e97fe;
    border-radius: 50%;
    width: 5.6rem;
    height: 5.6rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &--ring {
      width: 4.7rem;
      height: 4.7rem;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  &__viewer {
    padding-bottom: 7.1rem;
  }
}

.liveAction {
  @include montserrat-12-normal;
  line-height: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 1.1rem;
  }

  &__viewer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(92.95deg, #53aff7 -12.15%, #2894ff 111.4%);
    box-shadow: 0px 10px 10px rgba(78, 172, 249, 0.2);
    border-radius: 2.8rem;

    span {
      line-height: 1.8rem;
      margin-top: 0.6rem;
    }
  }
}
