@import '../../../assets/styles/abstracts/variables';

.livefooter {
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
